.front-section {
	/* background-color: #f8f9fa; */
	padding-top: 100px;
	padding-bottom: 100px;
}

.profile-picture {
	width: 100%;
}

.front-heading {
	font-size: 72px;
	margin-bottom: 24px;
}

.front-subheading {
	font-size: 36px;
	margin-bottom: 48px;
}

.front-text {
	font-size: 18px;
}

.about {
	width: 75%;
	margin-left: 12%;
}

.non-blue-link{
	text-decoration: none;
	color: white;
}

/* when the screen is 768px or less, do the following */
@media screen and (max-width: 768px) {
	.about {
		width: 100%;
		margin-left: 0;
	}
}